<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-sm">
      <h1
        class="mb-4 text-5xl tracking-tight font-extrabold lg:text-7xl text-primary-600 dark:text-primary-500"
      >
        Core Concepts
      </h1>
    </div>
    <header id="header" class="relative z-20">
      <div>
        <p
          class="mb-2 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400"
        >
          Core Concepts
        </p>
        <div class="flex items-center">
          <h1
            class="inline-block text-2xl sm:text-3xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200"
          >
            Utility-First Fundamentals
          </h1>
        </div>
      </div>
      <p class="mt-2 text-lg text-slate-700 dark:text-slate-400">
        Building complex components from a constrained set of primitive
        utilities.
      </p>
    </header>

    <div
      id="content-wrapper"
      class="relative z-20 prose prose-slate mt-8 dark:prose-dark"
    >
      <pre class="p-6 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
        <code class="language-html">{{code}}</code>
    </pre>
    </div>
  </div>
</section>
