<section class="bg-white dark:bg-gray-900 h-screen">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1 class="text-black dark:text-white mb-4 text-5xl tracking-tight font-extrabold lg:text-7xl">
        HOME
      </h1>
      <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">
        Hello Tailwind!
      </p>
      <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
        Rapidly build modern websites without ever leaving your HTML
      </p>
    </div>
  </div>
</section>